 <!-- List group links -->
 
 <div class="col-md-8">
  <div class="list-group list-group-flush " style="height:35%" width="50%">
    <p class="font-weight-bold">No of users</p>
  <a class="list-group-item list-group-item-action waves-effect">Student
    <span class="badge badge-success badge-pill pull-right">{{numberOfStudents}}
     
    </span>
  </a>
  <a class="list-group-item list-group-item-action waves-effect">Tutor
    <span class="badge badge-danger badge-pill pull-right">{{numberOfTutors}}
      
    </span>
  </a>
  <a class="list-group-item list-group-item-action waves-effect">Complaint and message
    <span class="badge badge-primary badge-pill pull-right">{{numberOfMassages}}</span>
  </a>
</div>
</div>

<!-- List group links -->
