<form>
  <select class="browser-default custom-select" [(ngModel)]="package" name="package">
    <option value="gold">Gold</option>
    <option value="silver">Silver</option>
    <option value="bronze">Bronze</option>
  </select>

  <div class="form-group">
    <label for="formGroupExampleInput">Discount</label>
    <input type="text" class="form-control" [(ngModel)]="discount" name="discount">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">No of days</label>
    <input type="text" class="form-control" [(ngModel)]="days" name="days">
  </div>



  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>


</form>