
<!-- Default form contact -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">News about field</p>


  <!-- Name -->
  <div class="form-group">
  <input ngModel name="title" #title="ngModel" (change)="log(title)" type="text" id="title" class="form-control mb-4" placeholder="Title">
</div>


  <!-- Message -->
  <div class="form-group">
    <textarea class="form-control rounded-0" id="message" rows="10" placeholder="Our News"></textarea>
  </div>

 
  <!-- Send button -->
  <button class="btn btn-primary" type="submit">submit</button>

</form>
<!-- Default form contact -->