<div class="mycol">
  <div class="pl-3 pt-2 pb-2">
   
          <h5>Recieved messages</h5>
          <a mdbBtn size="lg" class="btn-email  waves-light" mdbWavesEffect>
              <i class="fa fa-envelope"></i>
            </a>
            <span class="counter">{{msgs.length}}</span>
          
            <div id="chartContainer" style="height: 30px; width: 100%; margin-left:auto;margin-right:auto;"></div>

            <div class="container">
              <div class="row" *ngFor="let item of msgs">
               
                
                <p> <b>{{ item.Sender }} </b>  is saying that <b>  {{item.Content}} </b>  on  <b> {{item.Date | date}} </b> </p>

                <hr>
              </div>
            </div>
          



  </div>
</div>

          