


<!--subject wise tutor Table  -->

<p class="font-weight-bold">No of tutors registerd in each subject</p>
<table class="table table-hover" item-width="100" style="height:15%" width="5">
 
    <!-- Table head -->
    <thead class="blue-grey lighten-4">
      <tr>
        <th>#</th>
        <th>Subject</th>
        <th>No of Tutors</th>
        
      </tr>
    </thead>
    <!-- Table head -->
  
    <!-- Table body -->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Maths</td>
        <span class="badge badge-primary badge-pill pull-right">{{noOfTutorsMaths}}</span>
        
       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Science</td>
        <span class="badge badge-primary badge-pill pull-right">{{noOfTutorsScience}}</span>
     
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>ICT</td>
        <span class="badge badge-primary badge-pill pull-right">{{noOfTutorsICT}}</span>

      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Biology</td>
        <span class="badge badge-primary badge-pill pull-right">{{noOfTutorsBiology}}</span>

        
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Physics</td>
        <span class="badge badge-primary badge-pill pull-right">{{noOfTutorsPhysics}}</span>
     
        
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>Sinhala</td>
        <span class="badge badge-primary badge-pill pull-right">{{noOfTutorsSinhala}}</span>
       
        
      </tr>


    </tbody>
    <!-- Table body -->
  </table>