<div class="mycol">
  <figure class="snip1390 mb-0">

    <img src="../../../assets/myavatar.png" alt="profile-sample3" class="profile" />

    <figcaption>
      <br>
      <h4>Admin</h4>

    </figcaption>
  </figure>

  <div class="vertical-menu">
    <a class="myboder waves-light" routerLinkActive="active" routerLink="dashboard" mdbWavesEffect><i class="fas fa-chart-pie"></i> &nbsp;Dashboard</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="student" mdbWavesEffect><i class="fas fa-user"></i> &nbsp;Student</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="tutor" mdbWavesEffect><i class="fas fa-user-tie"></i> &nbsp;Tutort</a>
    <a class="myboder myboder-b waves-light" routerLinkActive="active" routerLink="msgncom" mdbWavesEffect><i class="fas fa-envelope"></i> &nbsp;MSG & Complain</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="newsfeed" mdbWavesEffect><i class="fas fa-user-tie"></i> &nbsp;newsfeed</a>
    <a class="myboder myboder-b waves-light" routerLinkActive="active" routerLink="boostoffer" mdbWavesEffect><i class="fas fa-envelope"></i> &nbsp;Boost Offers</a>
  </div>

</div>