<div class="mycol">
  <div class="pl-3 pt-2 pb-2">


    <!-- code here -->

    <!-- Default form login -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Search Tutor profile</p>



  <!-- Email -->
  <input type="string" id="defaultDistrict" class="form-control mb-4" placeholder="District">

  <!-- Password -->
  <input type="string" id="defaultSubject" class="form-control mb-4" placeholder="Subject">

 
  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="search">Search</button>

 
</form>
<!-- Default form login -->
<p class="font-weight-bold">Block Tutor list</p>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Tutor1</a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Tutor2</a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Tutor3</a>
  <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>Tutor4</a>
</div>



  </div>
</div>