<div class="mycol">
  <div class="pl-3 pt-2 pb-2">


  

    <!-- Default form login -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Search Tutor profile</p>

  <!-- Email -->
  <input type="string"[(ngModel)]="viewT.district" name="defaultDistrict" class="form-control mb-4" placeholder="District">

  <!-- Password -->
  <input type="string"[(ngModel)]="viewT.subject" name="defaultSubject" class="form-control mb-4" placeholder="Subject">


  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="btn btn-primary" type="search" (click)="searchT()">Search</button>
  <a class="myboder waves-light" routerLinkActive="active" routerLink="viewt" mdbWavesEffect> &nbsp;</a>
 
</form>



          <!--tutor List-->

          <p class="font-weight-bold">tutor list</p>
          <table class="table table-hover" item-width="100" style="height:15%" width="5">
              <!-- Table head -->
              <thead class="blue-grey lighten-4">
                <tr>
                 <!-- <th>#</th>-->
                 <th>image</th>
                  <th>Tutor first name</th> 
                  <th>Tutor last name</th>
                 
                  <th>telephone number</th>
                  <th>email</th>
                </tr>
              </thead>
              <!-- Table head -->
            
              <!-- Table body -->
              <tbody>
                <tr *ngFor="let tutor of tutorList" >
                 <!-- <th scope="row">1</th>-->
                 <td>
                  
    <img src={{tutor.imgUrl}} alt="profile-sample3" class="profile" />
                </td>
                  <td>
                    {{tutor.fname}}
                  </td>
                  <td>
                    {{tutor.lname}}
                  </td>
                  <td>
                    {{tutor.mobile}}
                  </td>
                  <td>
                    {{tutor.email}}
                  </td>
                  
                </tr>
        
              </tbody>
            </table>
<!-- Default form login 
<p class="font-weight-bold">Block Tutor list</p>
<div class="list-group">
  <td><a class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Tutor1</a>
  <span class="badge badge-primary badge-pill pull-right">{{T1}}</span></td>

  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Tutor2</a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Tutor3</a>
  <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>Tutor4</a>
</div>-->


            <!--Block List-->

<p class="font-weight-bold">Already block tutor list</p>
<table class="table table-hover" item-width="100" style="height:15%" width="5">
    <!-- Table head -->
    <thead class="blue-grey lighten-4">
      <tr>
       <!-- <th>#</th>-->
        <th>Block Tutor list</th> 
      </tr>
    </thead>
    <!-- Table head -->
  
    <!-- Table body -->
    <tbody>
      <tr>
       <!-- <th scope="row">1</th>-->
        <td>
        <span class="badge badge-primary badge-pill pull-right">{{T1}}</span>
        </td>
      </tr>

      <tr>
        <!-- <th scope="row">1</th>-->
         <td>
         <span class="badge badge-primary badge-pill pull-right">{{T2}}</span>
         </td>
       </tr>

       <tr>
        <!-- <th scope="row">1</th>-->
         <td>
         <span class="badge badge-primary badge-pill pull-right">{{T3}}</span>
         </td>
       </tr>


    </tbody>
  </table>

  </div>
</div>