<div class="mycol">
  <div class="pl-3 pt-2 pb-2">
    <h3 class="pl-3">Dashboard works</h3>

    <!-- code here -->
 
    
    <h5></h5>
    <div class="col-md-10">
    <app-total></app-total>
    </div>

    
    <h5></h5>
    <div class="col-md-10">
    <app-subwise></app-subwise>
    </div>


 
    <h5></h5>
    <div class="col-md-10">
    <app-diswise></app-diswise>
    </div>


    <h5></h5>
    <div class="col-md-10">
    <app-barchart></app-barchart>
    </div>

    <p class="font-weight-bold">percentage of student</p>
    <h5></h5>
    <div class="col-md-5">
    <app-piechart></app-piechart>
    </div>

   
   


  </div>
</div>