<p class="font-weight-bold">No of student and tutors registerd in each district</p>
<table class="table table-hover" style="height:15%" width="5" >
    <!-- Table head -->
  <thead class="blue-grey lighten-4">
    <tr>
      <th>#</th>
      <th>District</th>
      <th>No of students</th>
      <th>No of Tutors</th>
    </tr>
  </thead>
  <!-- Table head -->

  <!-- district Table body -->
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>Ampara</td>
     <td> <span class="badge badge-primary badge-pill pull-right">{{SAmpara}}</span></td>
     <td> <span class="badge badge-primary badge-pill pull-right">{{TAmpara}}</span></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Anuradhapura</td>
      <td> <span class="badge badge-primary badge-pill pull-right">{{SAnu}}</span></td>
     <td> <span class="badge badge-primary badge-pill pull-right">{{TAnu}}</span></td>
    </tr>

    <tr>
        <th scope="row">3</th>
        <td>Badulla</td>
       <td> <span class="badge badge-primary badge-pill pull-right">{{Sbad}}</span></td>
       <td> <span class="badge badge-primary badge-pill pull-right">{{Tbad}}</span></td>
      </tr>

      <tr>
          <th scope="row">4</th>
          <td>Batticoloa</td>
         <td> <span class="badge badge-primary badge-pill pull-right">{{Sbat}}</span></td>
         <td> <span class="badge badge-primary badge-pill pull-right">{{Tbat}}</span></td>
        </tr>
  
    <tr>
    <th scope="row">5</th>
    <td>colombo</td>
    <td> <span class="badge badge-primary badge-pill pull-right">{{Scolo}}</span></td>
   <td> <span class="badge badge-primary badge-pill pull-right">{{Tcolo}}</span></td>
    </tr>

    <tr>
        <th scope="row">6</th>
        <td>galle</td>
        <td> <span class="badge badge-primary badge-pill pull-right">{{Sgalle}}</span></td>
       <td> <span class="badge badge-primary badge-pill pull-right">{{Tgalle}}</span></td>
        </tr>
    
        <tr>
            <th scope="row">7</th>
            <td>Gampaha</td>
            <td> <span class="badge badge-primary badge-pill pull-right">{{Sgam}}</span></td>
           <td> <span class="badge badge-primary badge-pill pull-right">{{Tgam}}</span></td>
            </tr>
        
            <tr>
                <th scope="row">8</th>
                <td>Hambanthota</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Sham}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tham}}</span></td>
                </tr>
            
              
            <tr>
                <th scope="row">9</th>
                <td>Jaffna</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Sjaf}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tjaf}}</span></td>
            </tr>

            <tr>
                <th scope="row">10</th>
                <td>Kalutara</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Skalu}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tkalu}}</span></td>
                </tr>


            <tr>
                <th scope="row">11</th>
                <td>Kandy</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Skandy}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tkandy}}</span></td>
                </tr>


            <tr>
                <th scope="row">12</th>
                <td>Kegalle</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Skegl}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tkegl}}</span></td>
                </tr>



            <tr>
                <th scope="row">13</th>
                <td>Killinocchchi</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Skili}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tkili}}</span></td>
                </tr>


            <tr>
                <th scope="row">14</th>
                <td>Kutunegala</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Skuru}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tkuru}}</span></td>
                </tr>

            <tr>
                <th scope="row">15</th>
                <td>Mannar</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Sman}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tman}}</span></td>
                </tr>

            <tr>
                <th scope="row">16</th>
                <td>Matale</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Smatale}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tmatale}}</span></td>
                </tr>

            <tr>
                <th scope="row">17</th>
                <td>Matara</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Smatara}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tmatara}}</span></td>
                </tr>

            <tr>
                <th scope="row">18</th>
                <td>Monaragala</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Smona}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tmona}}</span></td>
                </tr>

            <tr>
                <th scope="row">19</th>
                <td>Mullative</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Smul}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tmul}}</span></td>
                </tr>

            <tr>
                <th scope="row">20</th>
                <td>Nuwara eliya</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{SNeliya}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{TNeliya}}</span></td>
                </tr>

            <tr>
                <th scope="row">21</th>
                <td>Polonnaruwa</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Spolo}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tpolo}}</span></td>
                </tr>

            <tr>
                <th scope="row">22</th>
                <td>Puttlam</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Sput}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tput}}</span></td>
                </tr>

            <tr>
                <th scope="row">23</th>
                <td>Ratnapura</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Sratna}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tratna}}</span></td>
                </tr>

            <tr>
                <th scope="row">24</th>
                <td>Trinco</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Strinco}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Ttrinco}}</span></td>
                </tr>
                
            <tr>
                <th scope="row">25</th>
                <td>vavniya</td>
                <td> <span class="badge badge-primary badge-pill pull-right">{{Svav}}</span></td>
               <td> <span class="badge badge-primary badge-pill pull-right">{{Tvav}}</span></td>
                </tr>

  </tbody>