<p class="font-weight-bold">No of student and tutors registerd in each district</p>
<table class="table table-hover" style="height:15%" width="5" >
    <!-- Table head -->
  <thead class="blue-grey lighten-4">
    <tr>
      <th>#</th>
      <th>District</th>
      <th>No of students</th>
      <th>No of Tutors</th>
    </tr>
  </thead>
  <!-- Table head -->

  <!-- district Table body -->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ampara</td>
     <td> <span class="badge badge-primary badge-pill pull-right">{{SAmpara}}</span></td>
     <td> <span class="badge badge-primary badge-pill pull-right">{{TAmpara}}</span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Anuradhapura</td>
      <td> <span class="badge badge-primary badge-pill pull-right">{{SAnu}}</span></td>
     <td> <span class="badge badge-primary badge-pill pull-right">{{TAnu}}</span></td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td>colombo</td>
    <td> <span class="badge badge-primary badge-pill pull-right">{{Scolo}}</span></td>
   <td> <span class="badge badge-primary badge-pill pull-right">{{Tcolo}}</span></td>
    </tr>
  </tbody>